{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'geotag_events_list' %}">Events Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>event_id</td>
    <td>description</td>
    <td>name</td>
    <td>start_time</td>
    <td>end_time</td>
    <td>max_group_size</td>
    <td>fee</td>
    <td>public</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.event_id }}</td>
    <td>{{ object.description }}</td>
    <td>{{ object.name }}</td>
    <td>{{ object.start_time }}</td>
    <td>{{ object.end_time }}</td>
    <td>{{ object.max_group_size }}</td>
    <td>{{ object.fee }}</td>
    <td>{{ object.public }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'geotag_events_create' %}">Create new Events</a>
{% endblock %}